<div class="grid grid-cols-[26rem,1fr] grid-rows-[auto,1fr] h-screen">
  <!-- Header -->
  <app-header />

  <!-- Sidebar -->
  <aside
    class="bg-gray-100 dark:bg-gray-800 py-12 px-10 border-r border-gray-200 dark:border-gray-700 row-span-full flex flex-col gap-12"
  >
    <h2 class="font-bold text-lg pl-5 dark:text-white">ToDo Application</h2>
    <app-main-nav />
  </aside>

  <!-- Main -->
  <main class="bg-gray-50 px-20 pt-16 pb-24 overflow-scroll">
    <!-- Container -->
    <div class="max-w-7xl mx-auto flex flex-col gap-12">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
